/* @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700); */

* {margin: 0; padding: 0; border: none;}
html, button, input, select, textarea {color: #222; }
body {font-size: 1em; line-height: 1.4; }
::-moz-selection {background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
img {vertical-align: middle; }
fieldset {border: 0; margin: 0; padding: 0;}
textarea {resize: vertical;}

h1, h2, h3, h4 {margin: 0; padding: 0; line-height: 1; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {padding: 50px 20px 20px 20px; background: url(images/background.jpg) top center repeat-x; font-family: lato;}

#header { background: #fff;  font-family: Courier; padding: 0 0 10px 0;}
#header > div {padding: 20px; border-bottom: 3px solid #66839c;}
#header h1 {margin: 0; padding: 0; color: #fff; line-height: 1; float: left; font-weight: normal; color: #000}
#header p {float: right; color: #7f7f7f; font-size: 25px;}

#container {width: 100%; max-width: 1300px; padding-top: 10px; margin: 0 auto; background: #fff; border-radius: 10px; 
  box-shadow:  0 2px 5px 5px rgba(0,0,0,.5);}
#container > div {padding: 20px;}


.panel {width: 48%; margin: 0 0 20px 0; float: left; }
.panel.right {float: right;}
.panel > div {padding: 30px;}
.panel h2 {margin: 0 0 25px 0; float: left; font-size: 18px; color: #66839c; font-size: 25px; font-weight: 300; line-height: 25px;}
.panel h3 {float: right; font-size: 16px; color: #00305a; font-size: 25px; font-weight: 400; line-height: 25px;}

.panel .chart {height: 200px; width: 100%; clear: both;}

#alerts,
#alerts li {margin: 0 30px 0 0; padding: 0; list-style: none;}
#alerts li {height: 130px; width: 130px; float: left;}

#alerts .day {background: url(images/sun.jpg) center center no-repeat;}
#alerts .day.active {background: url(images/moon.jpg) center center no-repeat;}
#alerts .fire {background: url(images/fire.png) center center no-repeat;}
#alerts .fire.active {background: url(images/fire_active.jpg) center center no-repeat;}
#alerts .storm {background: url(images/storm.png) center center no-repeat;}






/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}
